html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../snake_images/snake.jpg);
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#whiteBackground {
    background-color: white;
    width: 64%;
    height: 63%;
    margin-left: 16.5%;
    display: table;
}

#canvas {
    background-color: black;
    width: 97%;
    height: 92%;
    margin-left: 1.5%;
    margin-top: 1.5%;
    display: table;
}

#spaceToPlay {
    margin: 0;
    vertical-align: center;
    vertical-align: middle;  
    margin-top: -28%;
    font-size: 80px;
    color: white;
}

#death {
    color: red;
    margin: 0;
    vertical-align: center;
    vertical-align: middle;
    margin-top: -23.5%;
    color: red;
    display:none;
}

#snake {
    border-spacing: 0;
}

.snake_part {
    /*background-color:black;*/
    width: 14px;
    height: 14px;
}
